.booking-section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../../assets/bookingImage.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}

.booking-section form{
    width: 650px;
    margin-left:auto;
    margin-right: 8rem;
    padding:1.5rem 0rem 1.5rem 0rem;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    background-color: rgb(255, 255, 255);
    animation: 0.7s transition ;
}

.booking-section div{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    margin: auto;
    border-bottom: 1px solid black;
}

.booking-section label{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.booking-section input{
    width: 70%;
    font-size: 1.1rem;
    text-align: center;
    border: none;
}

.booking-section select{
    width: 70%;
    font-size: 1rem;
    text-align: center;
    border: none;
}

.submit-button{
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 1rem 4rem 1rem 2rem;
    background-color: rgb(54, 64, 70);
    color: rgb(255, 143, 78);
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.submit-button.disabled{
    background-color: rgba(80, 80, 80, 0.637);
    color: rgb(0, 0, 0);
    cursor: not-allowed;
}

.submit-button:hover{
    padding-right: 6rem;
}

.booking-section sup{
    color:red;
    font-size: 1rem;
}

.booking-section small{
    display: block;
    text-align: start;
    margin-left:3rem;
    color: rgb(255, 0, 0);
}

@media screen and (max-width:1024px) {
    .booking-section form{
        margin:5rem auto 3rem auto
    }
}

@media screen and (max-width:640px){
    .booking-section{
        min-height: 85vh;
    }

    .booking-section form{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        animation: none;
    }

    .booking-section div{
        flex-direction: column;
        padding-top: 0rem;
        border: none;
    }

    .booking-section label{
        align-self: flex-start;
        font-size: 1rem;
        padding-bottom: 0rem;
        margin-top: 0.5rem;
    }
    .booking-section input{
        width: 100%;
        padding:0.6rem 0rem;
        font-size: 1rem;
        border: 0.5px solid rgba(0, 0, 0, 0.589);
        border-radius: 5px;
    }
    .booking-section select{
        width: 100%;
        font-size: 1rem;
        padding:0.5rem 0rem;
        border: 0.5px solid rgba(0, 0, 0, 0.589);
        border-radius: 5px;
    }
    .booking-section sup{
        font-size: 0.8rem;
    }
    
    .submit-button{
        font-size: 0.8rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width:340px) {
    .booking-section small{
        margin-left: 1rem;
        font-size: 0.75rem;
    }
}

@keyframes transition{
    0%{ 
        transform: translate(-5%);
    }
}