.sidebar-container{
    padding-top: 7rem;
}

.my-account-button{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s linear;   
}

.my-account-button:hover{
    background-color: rgb(206, 206, 206);
}

.my-account-button svg{
    margin-left: 0.5rem;
}

.sidebar-menu{
    position: absolute;
    width: 342px;
    height: fit-content;
    margin: 0.5rem 1.5rem 0rem 2.5rem;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 10px;
    text-align: start;
    background-color: white;
    animation: 0.25s acc-sidebar ease-in-out;
}

.sidebar-menu h3{
    display: flex;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.user-name{
    margin-left: 0.8rem;
    color: rgb(228, 114, 1);
}

.sidebar-menu li{
    font-weight: bold;
    list-style-type: none;
}

.sidebar-menu a{
    display: block;
    padding: 1.7rem 0.5rem;
    color: black;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar-menu a:hover{
    background-color: rgba(202, 196, 188, 0.548);
}

.log-out-button{
    display: block;
    width: 100%;
    padding: 1.7rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    text-align: start;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s linear;
}

.log-out-button:hover{
    background-color: rgba(202, 196, 188, 0.548);
}   

.log-out-error{
    display: block;
    text-align: center;
    font-weight: bold;
    color: red;
}

@keyframes acc-sidebar{
    0%{
        opacity: 0;
        height: 0px;
    }
    100%{
        opacity: 1;
        height: 334px
    }
}

@media screen and (max-width: 490px ){
    .sidebar-menu{
        box-sizing: border-box;
        width: 90%;
        margin: 0.5rem 0rem 0rem 0rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .my-account-button{
        margin-inline: auto;
    }
}

@media screen and (max-width:375px) {
    .sidebar-menu h3{
        flex-direction: column;
        align-items: center;
    }
    
    .user-name{
        text-align: center;
        margin-left: 0rem;
        margin-top: 0.35rem;
    }
}